.loading {
  display: block !important;
}

.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #fff;
  background-color: #2020a0;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e9;
}

.alert-success {
  color: #20a020;
  background-color: #eeffe8;
}

.loading-overlay{
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  background-color: rgba(0,0,0,0.5);
  z-index:5;
  font-size: 10rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  & > *{
    margin: 0 1rem;
  }
}