header {
  color: #fff;
  padding: 1rem;
  font-size: 2rem;
}

a.brand {
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

span.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.icon-link{
  display: flex;
  flex-direction:column;
  align-items: center;
  margin:0 1rem;

  &:hover {
    color: $light-orange-color;
    cursor: pointer;
  }
}
