.pagination{
    margin: 1rem 0;
    & > a {
        background-color: #fff;
        padding: 1rem 2rem;
        margin:0 1rem ;
        border-radius: 1rem;
        border: 0.1rem solid rgb(102, 100, 100);
    }
}